
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental health</title>
    <link rel="shortcut icon" href="rupee.jpg" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="main" style="background-image: url('{% static 'images/job_single_img_1.jpg' %}'); background-size: cover; background-position: center;">
        <div class="form">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} bg-primary fade show " id="alert-message">{{ message }}</div>
                <script>
                    setTimeout(function () {
                        let alertBox = document.getElementById("alert-message");
                        if (alertBox) {
                            // alertBox.style.transition = "opacity 0.5s";
                            // alertBox.style.opacity = "0";
                            setTimeout(() => alertBox.remove(), 500); // Remove from DOM after fade-out
                        }
                    }, 2000); // 2 seconds
                </script>
                {% endfor %}
                {% endif %}
            <form action="{% url 'health:login' %}" method="post">
                {% csrf_token %}
                
                    <h2>Login </h2>
                    <input type="text" name="email" placeholder="Email..." data-form-field="email" class="form-control display-7" value="" id="email-formbuilder-1j">
                    <input type="password" name="password" placeholder="Password" data-form-field="password" class="form-control display-7" value="" id="password-formbuilder-1j">
                    <button class="btnn" type="submit" name ="save"><em>Login</em></button>

                    <p class="link">Don't have an account<br> 
                    <a href="{% url 'health:patient_signup' %}" class="text-primary">Sign up</a>here</p>
            </form>
        </div>
    <div>
</body>
</html>